.farm {
    margin-top: 190px;
}

.farm__title {
    text-align: center;
}

.farm__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 744px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 70px;
}

.farm__item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
    border-radius: 64px 24px 24px 64px;
    margin-top: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 14px;
    padding-right: 24px;
}

.farm__list .farm__item:first-child {
    margin-top: 0;
}

.farm__icon-first {
   z-index: 1;
}

.farm__icon-second{
    margin-left: -25px;
    max-width: 60px;
}

.farm__container {
    margin-left: 12px;
    min-width: 205px;
}

.farm__container-title {
    font-weight: 600;
    font-size: 20px;
    color: #062010;
    margin-top: 0;
    margin-bottom: 0;
}

.farm__container-text {
    font-weight: 600;
    font-size: 16px;
    color: #676767;
    margin-top: 15px;
    margin-bottom: 0px;
}


.farm__text-information {
    padding-left: 30px;
    border-left: 2px dashed rgba(42, 169, 21, 0.32);
    margin-left: 12px;
}

.farm__text-apr {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #676767;
    margin-top: 0;
    margin-bottom: 0;
}

.farm__text-procent {
    font-weight: 700;
    font-size: 20px;
    color: #2AA915;
    margin-top: 14px;
}

.farm__item-button{
    margin-left: auto;
}
