.video {
    margin-top: 470px;
}

.video__video-wrapper {
    position: relative;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.video__image {
    display: block;
    border-radius: 24px;
    max-width: 100%;
}




.video__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    width: 137px;
    height: 137px;
    border-radius: 100%;
    border: none;
    background: linear-gradient(94.04deg, #30C917 1.24%, #279A13 98.27%);
}