.page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-header__container {
    display: flex;
    align-items: center;

}

.page-header__navigation {
    margin-left: 150px;
}

.page-header__navigation-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.page-header__navigation-item {
    margin-left: 55px;

}

.page-header__navigation-link {
    text-decoration: none;
    color: #062010;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.page-header__navigation-link:hover {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    /*Заменить на что-то акцентное*/
    border-bottom: 2px solid #062010;
    transition: border-bottom 0.15s, filter 0.15s;
}

.page-header .page-header__navigation-item:first-child {
    margin-left: 0;
}

.page-header__button {
    margin-left: auto;
}


.page-header__menu-btn{
    display: none;
}

.menu{
    display: none;
}





@media only screen and (max-width : 479px) {

    .page-header__container {
        display: flex;
        justify-content: space-around;
    }

    .page-header__navigation-list {
        display: none;
    }

    .page-header__button {
        display: none;
    }

    /*MOBILE MENU */

    /*Обёртка*/
  

    /* Гамбургер иконка доработать*/
    .page-header__menu-btn {
        display: block;
        width: 24px;
        height: 18px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        background: none;
        border: none;
    }

    .menu-btn__button {
        width: 24px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }

    .page-header__menu-btn .menu-btn__button:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .page-header__menu-btn .menu-btn__button:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    /* Меняем гамбургер иконку, когда меню открыто */
    .page-header__menu-btn.active .menu-btn__button:nth-of-type(1) {
        display: none;
    }

    .page-header__menu-btn.active .menu-btn__button:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .page-header__menu-btn.active .menu-btn__button:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    /* Меню, которое будет появляться */
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: rgba(61, 61, 61, 0.72);
        backdrop-filter: blur(5px);
        transform: translateX(-100%);
        transition: transform 0.5s;
        padding-left: 0;
        padding-top: 0;
    }

    .menu.active {
        transform: translateX(0);
    }

    .menu-navigation {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu__list {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .menu__list-item {
        margin-top: 40px;
    }

    .menu__list .menu__list-item:first-child {
        margin-top: 0;
    }

    .menu__list__item-link {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;

    }


    /*Hover не работает в случае присутствия общего класса button*/

    .button__menu {
        display:inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        background: linear-gradient(94.04deg, #30C917 1.24%, #279A13 98.27%);
        margin-top:90px;
        align-self: center;
    }

    .button__menu:hover {
        background: rgba(191, 188, 184, 0.44);
        border-radius: 8px;
    }

    /*MOBILE MENU */





}