.audited {
    margin-top: 100px;
}

.audited__title {
    text-align: center;
}

.audited__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 40px;
    margin-top: 50px;
}

@media only screen and (max-width : 479px) {

    .audited {
        margin-top: 80px;
    }

    .audited__wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 18px;
        column-gap: 33px;
    }

    .audited__image {
        max-width: 147px;
    }

}